# dependencies
node_modules/

# env files
.env

# build folders
dist/
build/

# uploads (if storing images locally)
uploads/

# logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# editor files
.vscode/
.idea/

# temporary files
*.tmp
*.temp